<ion-content class="ion-padding">
  <div class="date-container">
    <div class="home">Rangliste</div>
    <div class="wochen">
      <ion-segment value="W1" mode="ios" class="segment-round">
        <ion-segment-button class="segment-button" value="W1">W1</ion-segment-button>
        <ion-segment-button class="segment-button" value="W2">W2</ion-segment-button>
        <ion-segment-button class="segment-button" value="W3">W3</ion-segment-button>
        <ion-segment-button class="segment-button" value="W4">W4</ion-segment-button>
        <ion-segment-button class="segment-button" value="Gesamt">Gesamt</ion-segment-button>
      </ion-segment>
    </div>
  </div>

  <ion-list>
    <!--todo check if this is correct-->
    <ion-item class="position" *ngFor="let ranking of rankings; let i = index" lines="none" (click)="onItemClick(i + 1)" [ngClass]="{'clicked': selectedItem === i + 1}">
      <ion-label class="line">
        <span class="rangnumber">{{ i + 1 }}. </span>
        <ion-icon name="ellipse-outline" class="icon"></ion-icon>
        <span class="text">{{ ranking.dienstelle_name }}</span>
        <span class="number">{{ ranking.gesamt | number }}</span>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
