.home {
  margin-bottom: 10px;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 25px;
}

.wochen {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

ion-segment.segment-round {
  width: 100%;
  justify-content: space-between;
  background-color: transparent;
  padding-bottom: 10px;
}

.position {
  --background: #ffffff;
  --background-size: cover;
}

ion-segment-button.segment-button {
  flex: 1;
  max-width: 10% !important;
  margin: 0 2px;
  border-radius: 20px;
  --border-radius: 20px;
  --background: #F6F6F6;
  --background-checked: #0B1463;
  text-transform: initial;
  --color: black;
  --color-checked: rgb(255, 255, 255) !important;
  --indicator-color: transparent;
  --border-width: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

ion-list {
  margin-top: 20px;
  font-size: 3em;
  margin-left: -19px;
  margin-right: -20px;
}

ion-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.text {
  flex: 1;
  font-size: 1.6em;
  padding-left: 40px;
  align-items: flex-start;
}

.number {
  text-align: right;
  font-size: 1.6em;
}

.rangnumber {
  font-weight: bold;
  font-size: 2em;
  padding-right: 10px;
}

.icon {
  font-size: 1.6em;
}

.clicked {
  background-color: lightgreen !important;
}

.user-department {
  --background: #1e612b;
  --color: #ffffff;
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  color: #0B1463;
}
