<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>

  <div class="date-container">
    <div class="home">Statistik</div>

    <h2 class="dienststelle">Position in der Dienststelle <ion-icon name="information-circle-outline"
        (click)="openModal()"></ion-icon></h2>

    <div class="position">
      <span *ngIf="differenceToFront !== null"><strong>{{ position - 1 }}.</strong> (+{{ differenceToFront }})</span>
      <span *ngIf="differenceToFront === null" [ngClass]="{'hidden-text': true}"><strong>0.</strong> (+500)</span>
      <span class="middle"><strong>&larr; {{ position }}. &rarr;</strong></span>
      <span *ngIf="differenceToBack !== null"><strong>{{ position + 1 }}.</strong> (-{{ differenceToBack }})</span>
      <span *ngIf="differenceToBack === null" [ngClass]="{'hidden-text': true}"><strong>X.</strong> (-500)</span>
    </div>

    <div class="wochen">
      <ion-segment [value]="currentWeek" (ionChange)="onSegmentChanged($event)" mode="ios" class="segment-round">
        <ion-segment-button class="segment-button" *ngFor="let week of weekOptions" [value]="week">
          {{ week }}
        </ion-segment-button>
      </ion-segment>
    </div>
  </div>
  <div class="statistics">
    <div>
      <div class="taille">Gesamt</div>
      <div class="bold">{{ totalSteps }}</div>
    </div>
    <div>
      <div class="taille">Durchschnitt</div>
      <div class="bold">{{ averageSteps | number:'1.0-0' }}</div>
    </div>
  </div>

  <div class="chart-container">
    <canvas id="myChart"></canvas>
  </div>

  <!-- InfoModal -->
  <div id="infoModal" class="modal" (click)="closeModal($event)">
    <div class="modal-content">
      <span class="close" (click)="closeModal($event)">&times;</span>
      <p>Ihre aktuelle Position in der Rangliste ihrer Dienststelle: <span class="bold">{{position}}. Platz</span>.</p>
      <p>Sie haben <span class="italique">{{differenceToBack}}</span> Schritte Vorsprung auf den <span class="bold">{{position+1}}. Platz</span> und
        benötigen <span class="italique">{{differenceToFront}} </span> Schritte, um den <span class="bold">{{position-1}}. Platz</span> zu erreichen.
      </p>
    </div>
  </div>
</ion-content>
